body {
	font-family:Trebuchet MS;
	box-sizing: border-box;
	margin: 0;
	padding: 20px;
	width: 100%;
	height: 200%;
	box-sizing: border-box;
	position: relative;
	
}

div {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    position: relative;
}

/*nav {
    line-height:30px;
    background-color:#000000;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
    color:white;

}*/



.title {
	font-size: 2em;
	color:red;
	display:inline-block;
	margin-right:1%;
}

.gray {
	color:#d9d9d9;
	display:inline-block;
}

.box {
	border:#d9d9d9 1px solid;
	height:50px;
	width:200px;
	background-color: #000000;
	float:left;
	font-size: small;
	margin-top: 10px;
}

.text {
	color:#FFFFFF;
	text-align: center;
	line-height: 50px;
	font-size: medium;

}

.large {
	font-size: x-large;

}

.col-1 {
	text-align: left;
	position: fixed;
	margin-top: 80px;
	width: 40%;
	column-span: 6;
}

.col-2 {

	float: right;
	width: 50%;
	margin-top: 6em;
	color: #888;
	text-align: left;


}
}

.light {
	color:#d9d9d9 !important;
	
}

p::first-letter { 
    font-size: 500%;
    color: #d9d9d9;
    float: left;
    padding:1px;

}

img{
	width: 100%;

}

.continue {
	font-weight: bold;
	text-align: right;
	float: right;

}

a {
	color: red;
	text-decoration: none;
}

hr{
	color: #d9d9d9;
}

footer {
	clear: both;
	color: #BBB;
	display:inline-block;
	
}